.buttonPsmall {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.buttonPnormal {
  padding: 0.75rem 1.25rem;
  margin: 0.75rem 0;
  font-size: 1.25rem;
}

.button {
  display: flex;
  background: var(--color-gradient);
  color: white;
  border: 2px solid #4E229C;
  border-radius: 3rem 3rem;
  align-items: center;
  justify-content: center;
  font-family: 'Bubblegum Sans', cursive;
  cursor: pointer;
  filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.5));
}

.button:hover {
  background: #4E229C;
  color: var(--color-secondary);
  border: 2px solid #884CF5;
  transition-duration: 0.4s;
}

.hyperlinkButton {
  display: inline-flex;
}

.uploadInstr {
  color: blue;
  text-decoration: underline;
}

.contactBtn {
  align-self: center;
  width: 10rem;
}