.footer {
  display: flex;
  justify-content: space-around;
  margin: 8% 0;
  filter: opacity(0.8);
}

.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerSectionTitle {
  display: flex;
  flex-direction: column;
}

.footerTitle {
  font-family: var(--text-primary);
  font-size: 1.75rem;
  text-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
  margin: 0;
  margin-bottom: 0.5rem;
}