.footer {
  display: flex;
  justify-content: space-around;
  margin: 8% 0;
  filter: opacity(0.8);
}

.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerSectionTitle {
  display: flex;
  flex-direction: column;
}

.footerTitle {
  font-family: var(--text-primary);
  font-size: 1.75rem;
  text-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
  margin: 0;
  margin-bottom: 0.5rem;
}

.text {
  font-size: 0.9rem;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: default;
}

.text:hover {
  color: var(--color-secondary);
  transform: translateY(-1px);
}

.adminText {
  color: black;
}