# Name your env: .env.local
# API KEY and Next Public App Id come from making an account with React bricks.
# Quickest and most painless way is to start an account and a brand new project that will generate your .env.local folder automatically and tie your project to a repo on Bricks account.

API_KEY=
NEXT_PUBLIC_APP_ID=